@import "tailwindcss";

.swiper-button-next,
.swiper-button-prev {
    border: 1px solid rgb(219, 214, 214);
    padding: 2%;
    color: black!important;
}
.swiper-pagination-bullet {
    background-color: gray!important;
}
.swiper-pagination-bullet-active {
    background-color: green!important;
}